<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.reuniware.radarloc">

    <queries>

        <!-- Permet à l'application de découvrir les applications capables de gérer les URI geo: -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="geo" />
        </intent>

        <!-- Permet de découvrir les applications capables de gérer les URI http/https -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <data android:scheme="https" />
        </intent>

        <!-- Si vous voulez cibler spécifiquement Google Maps, vous pouvez aussi ajouter son package -->
        <package android:name="com.google.android.apps.maps" />
    </queries>

    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Requis pour Android 10 (API 29) et plus pour la localisation en arrière-plan -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- Requis pour Android 9 (API 28) et plus pour les services de premier plan -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" /> <!-- API 34+ -->
    <!-- Requis pour Android 13 (API 33) et plus pour afficher des notifications -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RadarLoc"
        tools:targetApi="31">

        <activity
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RadarLoc"
            android:name="com.reuniware.radarloc.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Déclaration du Service -->
        <service
            android:foregroundServiceType="location"
            android:enabled="true"
            android:exported="false"
            android:name="com.reuniware.radarloc.LocationTrackingService" />

        <service android:name="com.reuniware.radarloc.BluetoothScanningService"
            android:foregroundServiceType="connectedDevice"
            />

    </application>
</manifest>